.back-icon{
    -fx-image: url(icon/back.png);
    -fx-fit-width:24;
}

.info-icon {
    -fx-image: url(icon/information.png);
    -fx-fit-width:24;
    -fx-fit-height:24;
}

.bookmark-list{
    -fx-border-width:1;
    -fx-border-color:white;
    -fx-border-radius:10;
    -fx-background-color:black;
}

.bookmark-list .list-cell{
    -fx-background-color:transparent;
}

.cell-hbox {
    -fx-background-color: transparent; 
    -fx-alignment:center;
    -fx-spacing:10;
}

.cell-hbox .word {
    -fx-font-family:"Poppins";
    -fx-text-fill:white;
    -fx-font-size:17;
    -fx-pref-width:180;
    -fx-alignment: center; 
    -fx-cursor:text;
}

.cell-hbox .pronounce {
    -fx-font-family:"Times New Roman";
    -fx-font-style:italic;
    -fx-text-fill:white;
    -fx-font-size:17;
    -fx-pref-width:230;
    -fx-alignment: center; 
    -fx-cursor:text;
}